*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


.wrapper{
    width: 85vw;
    margin: 0 auto;
}

.home{
    height: 90vh;
    display: grid;
    place-content: center;
}
.home__component{
    flex-wrap: wrap;
}

@media only screen and (max-width: 800px) {
    .home__component{
        flex-direction: column;
        gap: 2rem;
    }
  }